/*Blog section*/
a {
    cursor: pointer;
}

.blog-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
    margin: 5vh 12vw;
}

.blog-post {
    min-height: 50vh;
    text-align: center;
    background: white;
}

.blog-cover-img {
    width: 100%;
}

.blog-content {
    padding: 1rem;
    text-align: justify;
}

.blog-content-description {
    margin: 2vh 0 0 0;
}

@media screen and (max-width: 668px) {
    .blog-grid-container {
        grid-template-columns: auto auto;
        margin: 5vh 15vw;
    }

    .blog-post {
            grid-column: 1 / span 2;
    }
}



h3{
    text-align: left;
}
.container {
    font-family: arial;
    font-size: 24px;
    margin: 25px;
    outline: dashed 1px black;
  }
  
.main-blog-post {
    width: 80%;
    height: 60%;
    align-items: center;
    text-align: center;
    background: white;
    margin: 0 auto;
    padding: 2rem;
}

.main-blog-cover-img {
    width: 100%;
}

.main-blog-content {
    padding: 1rem;
    text-align: justify;
}

.main-blog-content-description {
    margin: 2vh 0 0 0;
}

@media screen and (max-width: 668px) {
    .blog-grid-container {
        grid-template-columns: auto auto;
        margin: 5vh 15vw;
    }

    .blog-post {
            grid-column: 1 / span 2;
    }
}