.main{
    background-color: #3bc1ff;
    background-image: linear-gradient(147deg, rgb(69, 199, 171) 0%, rgb(15, 189, 241) 74%);
    min-height: 100vh;
    font-family: 'Fira Sans', sans-serif;
    display: flex;
}

.blog-slider{
    width: 95%;
    position: relative;
    max-width: 800px;
    margin: auto;
    background: #fff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 25px;
    border-radius: 25px;
    height: 400px;
    transition: all .3s;
}






@media screen and (max-width: 992px) {
    .blog-slider {
      max-width: 680px;
      height: 400px;
    }
  }
  @media screen and (max-width: 768px) {
    .blog-slider {
      min-height: 500px;
      height: auto;
      margin: 180px auto;
    }
  }
  @media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider {
      height: 350px;
    }
  }