@import url('https://fonts.googleapis.com/css?family=Roboto');
/*Root*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    position: relative;
    font-family: 'poppins', sans-serif;
    background: rgb(27,15,208);
    background: linear-gradient(90deg, rgb(11, 102, 183) 0%, rgba(181, 89, 89, 0.88) 100%);
}

::selection{
    background: #1b1b1b;
    color: #fff;
}


/*Navigation bar*/
.navigation {
    height: 55px;
    background: rgb(27,15,208);
    background: linear-gradient(90deg, rgb(0, 65, 123) 0%, rgba(138, 0, 0, 0.88) 100%);
}
.logo{
    width: 50px;
    height: 55px;
}
.brand {
    position: absolute;
    padding-left: 4rem;
    padding-right: 0rem;
    float: left;
    line-height: 55px;
    text-transform: uppercase;
    font-size: 1.4em;
}
.brand a, .brand a:visited {
    color: #ffffff;
    text-decoration: none;
}
.nav-container {
    max-width: 1000px;
}
nav {
    float: right;
    padding-left: 1rem;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    float: left;
    position: relative;
}
nav ul li a,nav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: 55px;
    color: #fff;
    background: #262626 ;
    text-decoration: none;
}
nav ul li a{
    background: transparent;
    color: #FFF;
}
nav ul li a:hover, nav ul li a:visited:hover {
    background: #2581DC;
    color: #ffffff;
}
.navbar-dropdown li a{
    background: #2581DC;
}
nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: ' \025BE';
}
nav ul li ul li {
    min-width: 190px;
}
nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}
.navbar-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    background: #fff;
    box-shadow: 0 0 35px 0 rgba(0,0,0,0.25);
}

/* Mobile navigation */
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    height: 55px;
    width: 70px;

}

@media only screen and (max-width: 800px) {
    .nav-mobile {
        display: block;
   }
    nav {
        width: 100%;
        padding: 55px 0 0px;
   }
    nav ul {
        display: none;
   }
    nav ul li {
        float: none;
   }
    nav ul li a {
        padding: 15px;
        line-height: 20px;
        background: #262626;
   }
    nav ul li ul li a {
        padding-left: 30px;
   }
    .navbar-dropdown {
        position: static;
}
@media screen and (min-width:800px) {
    .nav-list {
        display: block !important;
   }
}
#navbar-toggle {
    position: absolute;
    left: 18px;
    top: 15px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}
#navbar-toggle span, #navbar-toggle span:before, #navbar-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 30px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
}
#navbar-toggle span:before {
    top: -10px;
}
#navbar-toggle span:after {
    bottom: -10px;
}
#navbar-toggle.active span {
    background-color: transparent;
}
#navbar-toggle.active span:before, #navbar-toggle.active span:after {
    top: 0;
}
#navbar-toggle.active span:before {
    transform: rotate(45deg);
}

#navbar-toggle.active span:after {
    transform: rotate(-45deg);
}
}


.footer-basic {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding:40px 0;
    background: rgb(27,15,208);
    background: linear-gradient(90deg, rgb(0, 65, 123) 0%, rgba(138, 0, 0, 0.88) 100%);
    color:#89eed2;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#89eed2;
    margin-bottom:0;
  }

  .content2{
    width: 100%;
    color: #520909;
    background-color: rgb(177, 204, 228);
    padding: 0rem 2rem 2rem 2rem;
    text-align: justify;
  }